.content__footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
}
.content__footer_letf{
    display: flex;
    align-items: center;
}
.content__footer_letf  b{
   
    margin: 0 4px;
}
.content__footer__right{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.page--dislabel{
    color: rgba(0, 0, 0, 0.4); ;
}
.page__text{
    margin-left: 12px;
    cursor: pointer;
}
.page__icon{
    padding-left: 12px;
}
.page__number{
   
    display: flex;
    align-items: center;
    margin-left: 12px;
    cursor: pointer;
}
.pageing__number--active{
    width: 24px;
    height: 24px;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
    font-weight: 600;
    
}