.table {
    border-collapse: collapse;
    width: 100%;
    position: relative;
   
  }
  
 .table thead th,td {
    text-align: left ;
    border-bottom: 1px solid var( --border-table-color);
    border-right:1px solid var( --border-table-color)  ;
    padding-left:8px;
    
  }
 .table thead th {
    background-color: #F5F5F5;
    position: sticky;
    height: 44px;
    top: 0;
    z-index: 1;
 }

 .th__wd__gender{
   min-width:120px;
 }
 .th__wd{
   min-width: 212px;
 }
 .th__wd__date{
   min-width: 150px;
 }
 .th__wd__function{
   min-width: 120px;
 }
 .th__wd__code{
   min-width: 120px;
 }
 .table tr{
    max-height: 44px;
    cursor: pointer; 
    vertical-align: inherit;
   line-height: inherit;
   
 }
 
 .table tbody tr:hover {  background-color: var(--tr-hover-color) !important;
 }
 
.align-center {
   text-align: center !important;
   padding: 0 !important;
}
.table td {
   position: relative;
}
.table  .center__checkbox{
   /* left: 0px;
   position: sticky;
   
   border-bottom: 1px solid var( --border-table-color);
   border-right:1px solid var( --border-table-color) !important; 
  
   background-color: var( --white-color);
   z-index: 1 !important; */
   padding: 0 8px;
   width: 30px;
  
}
.trClick{
   background-color:var(--bg-click-color);
}

.table .th_sticky{
   background-color: #F5F5F5 ;
   z-index: 3 !important;
   
 }
